/* common roules */
* {
    box-sizing: border-box;
    margin: 0;
}

aside {
    background: linear-gradient(54deg, #ffcc00, #ff5555, #b380ff, #5ed4db);
    color: #ebdbb2;
    background-size: 400% 400%;
    -webkit-animation: AnimationName 36s ease infinite;
    -moz-animation: AnimationName 36s ease infinite;
    -o-animation: AnimationName 36s ease infinite;
    animation: AnimationName 36s ease infinite;
    font-family: monospace;
}
@font-face {
    font-family: "AlegreyaBlack";
    src: url("../../static/font/AlegreyaSans-Black.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Alegreya";
    src: url("../../static/font/AlegreyaSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Alegreya";
    src: url("../../static/font/AlegreyaSans-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Cispeo";
    src: url("../../static/font/Cispeo-Black.otf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Cispeo";
    src: url("../../static/font/Cispeo-Regular.otf");
    font-weight: normal;
    font-style: normal;
}
@keyframes AnimationName{
  0% {
    background-position: 90% 0%;
}
50% {
    background-position: 11% 100%;
}
100% {
    background-position: 90% 0%;
}
}
@-webkit-keyframes rotating {
    from{
    -webkit-transform: rotate(0deg);
    }
    to{
    -webkit-transform: rotate(360deg);
    }
}
h4{
  font-size: 1.3em;
  font-family: "AlegreyaBlack";
}
.rotating {
    -webkit-animation: rotating 50s linear infinite;
}
iframe {
    border: none;
    overflow: hidden;
}

li {
    cursor: pointer;
    margin-bottom: .4em;
}

.add {
    opacity: .5;
    list-style: none;
    padding-left: 0;
    position: relative;
    left: -1.2em;
}
.add add {
    opacity: 1;
    left: 0;
    position: relative;
}

/* define the menu operators */
edit, add, remove{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    height: .8em;
    width: 1em;

    opacity: .5;

    display: inline-block;

    position: absolute;
    margin-top: .2em;

    cursor: pointer;
}

add {
    background-image: url(/static_wiki/icons/plus.svg);
    right: 3em;
}

remove {
    background-image: url(/static_wiki/icons/trashcan.svg);
    right: 2em;
}

edit {
    background-image: url(/static_wiki/icons/pencil.svg);
    right: 1em;
}

.grey {
    opacity: .5;
}


/* desktop rules */
@media(min-width: 700px) {
    aside {
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100%;
        padding: 2em;

        color: #fff;
        overflow-y: auto;
    }

    aside>header {
        position: relative;
        width: 100%;

        padding: 20px;
        margin-bottom: 20px;

        text-align: center;
    }

    h1 {
        padding-left: 1em;
        padding-right: 1em;
    }

    aside>header>h2 {
        color: rgba(255, 255, 255, 0.3);
        font-size: 14px;

        padding-top: 10px;
        font-weight: normal;
    }

    aside>header>input[type=search] {
        width: 250px;
        margin-top: 20px;
        margin-bottom: 10px;
        display: none;
        border: none;
        outline: none;

        border-radius: 100px;
        padding: 5px;
        padding-left: 15px;

        background-color: #fff;
        color: #000;
    }

    iframe {
        width: 100%;
        height: 100%;
        padding-left: 300px;
    }

    aside > ul {
        padding-left: 2em;
        font-size: 1.3em;
        list-style-type: upper-latin;
        margin-bottom: 1em;
    }

    ul {
        padding-left: 1em;
    }

    aside > ul > ul{
      list-style-type: lower-latin;
    }
}


/* mobile rules */
@media(max-width: 660px) {}
