<!DOCTYE html>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Loading Wiki</title>

<link rel="stylesheet" href="/static_wiki/wiki.css">

<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script src="/static_wiki/wiki.js"></script>



<!-- the pad listing sidebar -->
<aside>
	<header>
		<!--
	  <img class="rotating" src="http://www.benjamindumond.fr/etc/logojdll.svg"/>
		-->
		<svg
			 class="rotating"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:cc="http://creativecommons.org/ns#"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
    xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
    width="17.864258mm"
    height="17.867146mm"
    viewBox="0 0 17.864258 17.867146"
    version="1.1"
    id="svg7395"
    inkscape:version="0.92.1 r15371"
    sodipodi:docname="logojdll.svg">
			<defs
    id="defs7389" />
			<sodipodi:namedview
    id="base"
    pagecolor="#ffffff"
    bordercolor="#666666"
    borderopacity="1.0"
    inkscape:pageopacity="0.0"
    inkscape:pageshadow="2"
    inkscape:zoom="0.35"
    inkscape:cx="-391.95506"
    inkscape:cy="13.764685"
    inkscape:document-units="mm"
    inkscape:current-layer="layer1"
    showgrid="false"
    fit-margin-top="0"
    fit-margin-left="0"
    fit-margin-right="0"
    fit-margin-bottom="0"
    inkscape:window-width="1920"
    inkscape:window-height="1019"
    inkscape:window-x="0"
    inkscape:window-y="27"
    inkscape:window-maximized="1" />
			<metadata
    id="metadata7392">
			<rdf:RDF>
			<cc:Work
    rdf:about="">
			<dc:format>image/svg+xml</dc:format>
			<dc:type
    rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
			<dc:title></dc:title>
			</cc:Work>
			</rdf:RDF>
			</metadata>
			<g
    inkscape:label="Calque 1"
    inkscape:groupmode="layer"
    id="layer1"
    transform="translate(-47.7643,-134.60809)">
			<g
    id="g12168"
    transform="matrix(0.07053631,0,0,0.07055422,18.251213,126.10785)"
    style="display:inline;stroke-width:4.20512486;stroke-miterlimit:4;stroke-dasharray:none">
			<path
    inkscape:connector-curvature="0"
    id="path12160"
    d="M 668.6727,247.09798 A 123.63136,123.61959 0 0 1 545.04175,370.71767 123.63136,123.61959 0 0 1 421.41029,247.09798 123.63136,123.61959 0 0 1 545.04175,123.47863 123.63136,123.61959 0 0 1 668.6727,247.09798 Z"
    style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:6.000875;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate" />
			<path
    inkscape:connector-curvature="0"
    id="path12162"
    d="M 437.97391,185.28856 652.10925,308.90791"
    style="display:inline;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:6.000875;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
			<path
    inkscape:connector-curvature="0"
    id="path12164"
    d="M 545.04175,123.47881 V 370.71767"
    style="display:inline;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:6.000875;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
			<path
    sodipodi:nodetypes="cc"
    inkscape:connector-curvature="0"
    id="path12166"
    d="M 437.97958,308.93043 653.30596,187.64332"
    style="display:inline;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:6.000875;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
			</g>
			</g>
		</svg>
		<h1 id="wiki-title">Loading...</h1>
		<h2>PadWiki</h2>
		<input type="search" placeholder="search... [WIP]" id="search">

	</header>
	<h4>Wiki</h4>
	<ul id="pages_lock">
		<li data-pad-id="r.0d0dfe6e572336df44eff1e20eeb76eb" >Description générale</li>
		<!-- <li >Planning Année</li> -->
		<li data-pad-id="r.35cbde6f75fddff9fc2d74564f961949" >Pôles</li>
		<ul>
			<li data-pad-id="r.44fa6b96b8d0503d318ad51d23628a6d">Coordination</li>
			<li data-pad-id="r.82bff9932377b719021853810115557c">Conf & Ateliers</li>
			<li data-pad-id="r.7ebb8eecc70c59ddbe99ae8a030aecca">Village Asso & DIY</li>
			<li data-pad-id="r.83316b8ebff04f4d96cae2449c2d7577">Install Party</li>
			<li data-pad-id="r.baa8ecb212b4898d42c976ad06f25efb">Gones</li>
			<li data-pad-id="r.07fc27c7c633d3b9a4d2bf19ffb22751">Communications</li>
			<li data-pad-id="r.c8f928b0ebf663b15dd0ceb3292a9d37">Presse Sponsors</li>
			<li data-pad-id="r.71960b091536fad66ffd09e2f0fc035c">Buvette</li>
			<li data-pad-id="r.61b84b0c239cc713af3f8ed52ba1438d">Restaurant</li>
			<li data-pad-id="captations">Captations</li>
		</ul>
		<li data-pad-id="r.746195c03dd83fe5efd49981346a57b8">Ressources</li>
	</ul>
	<h4>Organisation</h4>
	<ul id="pages">
	</ul>
</aside>

<!-- main pad iframe -->
<iframe src="" id="pad" name="pad">
